body {
  background-color: hsl(0, 0%, 98%);
}

p {
  color: hsl(0, 0%, 41%);
  font-size: 18px;
}

.attribution {
  font-size: 14px;
  text-align: center;
  margin-top: 20px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

nav {
  color: hsl(0, 0%, 41%);
}

nav a:hover {
  color: black;
}

nav button:hover {
  color: black;
}

.content1,
.content2 {
  border-radius: 10px;
  padding: 20px;
  display: none;
  position: absolute;
  right: 10px;
  background-color: #fff;
  z-index: 2;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.content3,
.content4 {
  padding: 0px 15px;
  padding-top: 10px;
  display: none;
  z-index: 2;
}

.content1 a,
.content2 a,
.content3 a,
.content4 a {
  color: hsl(0, 0%, 41%);
  padding: 5px 5px;
  display: flex;
  align-items: center;
}

.content1 img,
.content3 img {
  margin-right: 10px;
}

/* Hamburger Menu */
.hamburger {
  cursor: pointer;
  width: 30px;
  height: 30px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  height: 2px;
  width: 30px;
  top: 0;
  left: 0;
  background: hsl(0, 0%, 8%);
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
}

.open .hamburger-top {
  transform: rotate(45deg) translateX(6px) translateY(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateX(-6px) translateY(6px);
}

#menu {
  background-color: hsl(0, 0%, 98%);
  color: hsl(0, 0%, 41%);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
